/***** Home(index.html) page *****/

/* Used for Popular Therapy Services cards in home page */
.line-clamp__para {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/***** End Home(index.html) page *****/



/***** caller function *****/

.call-wrapper {
    position: fixed;
    content: ' ';
    border-radius: 50px;
    bottom: 120px;
    right: 50px;
    background-color: #c09245;
    z-index: 111111;
}

.call-wrapper .call-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px !important;
    height: 65px !important;
}

.call-wrapper .call-icon-wrap a,
.call-wrapper .call-icon-wrap a>i {
    margin: auto !important;
    padding: 5px !important;
}


.call-wrapper .call-icon-wrap a>i {
    font-size: x-large;
    color: white;
}

@media screen and (max-width: 1111px) {
    .call-wrapper {
        bottom: 10px;
        left: 10px;
        right: unset;
        box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    }

    .call-wrapper .call-icon-wrap {
        width: 60px !important;
        height: 60px !important;
    }

    #wa-widget-send-button {
        margin: 0 !important;
        /* margin: 0; isn't work so bottom: -40px; is used for positioning */
        bottom: -40px !important;
        right: 10px !important;
        height: 60px !important;
        min-width: 60px !important;
    }
}

/***** End caller function *****/



/***** Treatment Page style *****/

section.treatment-page__content-wrapper p {
    font-size: 16px !important;
}

.left-side__wrapper {
    max-width: 100%;
    height: 100%;
}

.left-side__wrapper .left-side__nav {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    padding-left: 20px;
}



ul.left-nav__ul {
    margin-top: 5px !important;
    margin-bottom: 20px !important;
}

ul.left-nav__ul>li>a {
    color: #111;
    font-size: 14px !important;
}

ul.left-nav__ul>li.active>a {
    background-color: rgb(191 142 33) !important;
    padding: 2pX 10px;
    border-radius: 3px;
    color: white !important;
    /* font-size: 16px !important; */
}


ul.treatment-left__ul-nav>li>a {
    color: #111;
}

ul.treatment-left__ul-nav>li>a:hover {
    color: #e3ca94;
}


.wpb_wrapper h3.treatments-title::before {
    content: ' ';
    position: absolute;
    width: 65px;
    height: 4px;
    top: 45px;
    background-color: #0fb8cd;
    border-radius: 20px;
}

.wound-details__title-wrapper h4 {
    font-size: 20px !important;
}


ul.dt-sc-fancy-list {
    padding-left: 20px;
}

ul.dt-sc-fancy-list li:before {
    font-size: xx-small !important;
}

/***** End Treatment Page style *****/


/***** Footer *****/
.widgettitle {
    font-size: 24px !important;
    padding-bottom: 10px !important;
}

.widgettitle:before {
    width: 50px !important;
    border-radius: 20px !important;
}

ul.footer__treatment-list>li {
    border: none !important;
    padding-bottom: 0 !important;
}

ul.footer__treatment-list>li>a {
    padding-top: 0 !important;
}

.widget ul li:before {
    top: -3px !important;
}

table.footer_time-slot,
table.footer_contact-table {
    border: none;
}

table.footer_time-slot tr>th,
table.footer_contact-table tr>th {
    background-color: #f8f8f9 !important;
    padding: 0px !important;
    padding-bottom: 8px !important;
    text-align: left !important;
    border: none !important;
    max-width: 50px;
    color: #a8a8a8;
}

table.footer_time-slot tr>td,
table.footer_contact-table tr>td {
    background-color: #f8f8f9 !important;
    padding: 0px !important;
    text-align: left !important;
    border: none !important;
    font-size: large !important;
    color: #666 !important;
    font-weight: 600 !important;
    padding-bottom: 15px !important;
}

table.footer_contact-table tr>td>a:hover {
    text-decoration: none !important;
}

table.footer_contact-table tr>td>a {
    font-weight: 500 !important;
    font-size: 16px !important;
}

table.footer_time-slot tr>td>i {
    padding-right: 5px;
    font-size: large !important;
}

a#footer__social-icon-fb {
    color: #4267B2 !important;
    font-size: 20px !important;
}

a#footer__social-icon-insta {
    color: #b92041 !important;
    font-size: 20px !important;
}

a#footer__social-icon-youtube {
    color: #FF0000 !important;
    font-size: 20px !important;
}

.footer-copyright .menu-links li a:before {
    width: 5px !important;
    height: 5px !important;
    top: 60% !important;
    left: -15px !important;
    border-radius: 50px;
}

/***** End Footer *****/



/***** Mob-Screen responsive *****/

@media only screen and (max-width: 768px) {

    /* Style for menu/header section */
    div.container-xs {
        width: 100% !important;
    }

    .main-header-wrapper {
        padding: 0 !important;
    }

    .menu-icons-wrapper {
        width: auto !important;
        display: inline-flex;
        align-items: center;
        justify-content: end;
        margin: 0 !important;
        left: unset !important;
        right: 15px !important;
        padding: 0 !important;
    }

    .menu-icons-wrapper .search a span {
        padding-top: 25px !important;
        font-size: 18px !important;
    }

    .is-sticky .menu-icons-wrapper {
        top: 10px !important;
    }

    .is-sticky .menu-icons-wrapper .search a span {
        padding: 0px !important;
        font-size: 16px !important;
    }

    .is-sticky #logo {
        padding: 10px !important;
        height: 60px !important;
        transition: all 0.5s ease !important;
    }

    #logo a {
        height: 60px !important;
    }

    .is-sticky #logo a {
        height: 50px !important;
    }

    .is-sticky #main-menu>ul.menu>li>a {
        line-height: 40px !important;
    }


    /* Style for container width and contents */
    .container.primary-section__wrapper {
        width: calc(100% - 30px) !important;
    }

    .dt-sc-title.with-right-border-decor>*:first-child {
        padding-bottom: 10px !important;
    }

    .dt-sc-title.with-right-border-decor>*:first-child:after {
        width: 80px !important;
        border-radius: 50px !important;
    }


    /* Idex page main title */
    .welcome-title {
        font-size: 24px !important;
        line-height: 1.4;
        margin-bottom: 15px !important;
    }

    div.main-btn-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 30px !important;
    }

    div.main-btn-wrapper a {
        margin: 0 !important;
        padding: 15px;
        font-size: small !important;
        width: max-content !important;
    }

    /* to remove the space */
    div.ult-spacer.d-none_mob {
        display: none !important;
    }

    div.about-dr__wrapper {
        padding: 0px 15px !important;
        background:
            linear-gradient(to bottom,
                rgba(45, 80, 45, 0.85),
                rgba(45, 80, 45, 0.85)),
            url(../img/banner-mob.png);
        background-position: center;
        background-size: 220%;
        /* background-color: rgba(88, 133, 80, 0.6); */
        padding-top: 40px !important;
    }

    div.dr_content-wrapper {
        margin: 0 !important;
    }

    div.about-dr__wrapper p,
    div.about-dr__wrapper h2 {
        color: rgb(228, 228, 228) !important;
    }

    div.dr_desc {
        padding: 0px 18px !important;
    }

    div.video-sec__title-wrapper {
        margin-top: 20px;
    }

    div.mob-center-align {
        text-align: center !important;
    }

    div.mob-center-align h4 {
        padding: 0 !important;
    }

    
    /* About-Us page */
    div.dt-sc-title>h2.smrithi-doc-name {
        font-size: x-large !important;
    }

    h5#doctor-sign-name {
        text-align: center !important;
        font-size: medium !important;
    }

    div.vc_align_left.doctor-sign-wrapper {
        text-align: center !important;
        width: 50% !important;
        margin: auto !important;
    }

    div.dt-sc-title>h2.specialization-title {
        font-size: 22px !important;
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }

    p#mob-align-center {
        text-align: center !important;
    }

    div.dt-sc-title>h2#why-we-are-best {
        font-size: 28px !important;
    }

}

/***** End Mob-Screen responsive *****/