/***** Home(index.html) page *****/

/* Used for Popular Therapy Services cards in home page */
.line-clamp__para {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/***** End Home(index.html) page *****/



/***** caller function *****/

.call-wrapper {
    position: fixed;
    content: ' ';
    border-radius: 50px;
    bottom: 120px;
    right: 50px;
    background-color: #c09245;
    z-index: 111111;
}

.call-wrapper .call-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px !important;
    height: 65px !important;
}

.call-wrapper .call-icon-wrap a,
.call-wrapper .call-icon-wrap a>i {
    margin: auto !important;
    padding: 5px !important;
}


.call-wrapper .call-icon-wrap a>i {
    font-size: x-large;
    color: white;
}

@media screen and (max-width: 1111px) {
    .call-wrapper {
        bottom: 10px;
        left: 10px;
        right: unset;
        box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    }

    .call-wrapper .call-icon-wrap {
        width: 60px !important;
        height: 60px !important;
    }

    #wa-widget-send-button {
        margin: 0 !important;
        /* margin: 0; isn't work so bottom: -40px; is used for positioning */
        bottom: -40px !important;
        right: 10px !important;
        height: 60px !important;
        min-width: 60px !important;
    }
}

/***** End caller function *****/



/***** Treatment Page style *****/

body#treatment-body,
div#main,
div#treatment-page__wrapper,
div#treatment-page__inner-wrapper,
div.primary-section__wrapper.treatment_page-container,
div.treatment-main__div,
div.treatment_page-container,
section.treatment-page__content-wrapper,
div.wpb_column.treatment-page__column {
    overflow: unset !important;
}

section.treatment-page__content-wrapper p {
    font-size: 16px !important;
}

.left-side__wrapper {
    max-width: 100%;
    height: 100%;
}


div.treatment-row {
    display: flex;
}

div.left-side__nav-wrapper {
    margin-top: 10px !important;
    align-self: flex-start;
}

/* for sticky nav on left side */
@media screen and (min-width: 768px) {
    div.left-side__nav-wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
    }
}

ul.left-side__nav-ul>li>a {
    color: #333;
    font-weight: 500 !important;
    text-decoration: none !important;
}

ul.left-side__nav-ul>li.active-left_nav>a {
    color: #c09245 !important;
    padding: 2px 10px !important;
    border-radius: 3px;
}

ul.left-side__nav-ul>li>ul.left-nested__nav-ul>li>a {
    color: #777 !important;
}

ul.left-side__nav-ul>li>ul.left-nested__nav-ul>li>a:hover {
    background: #d4ad6b !important;
    padding: 2px 5px !important;
    border-radius: 3px;
}


.wpb_wrapper h3.treatments-title::before {
    content: ' ';
    position: absolute;
    width: 65px;
    height: 4px;
    top: 45px;
    background-color: #0fb8cd;
    border-radius: 20px;
}

.wound-details__title-wrapper h4 {
    font-size: 20px !important;
}


ul.dt-sc-fancy-list {
    padding-left: 20px;
}

ul.dt-sc-fancy-list li:before {
    font-size: xx-small !important;
}

ul.left-side__nav-ul>li>div.treatment-nav__img-wrapper {
    display: none !important;
}

/***** End Treatment Page style *****/


/***** Footer *****/
.widgettitle {
    font-size: 24px !important;
    padding-bottom: 10px !important;
}

.widgettitle:before {
    width: 50px !important;
    border-radius: 20px !important;
}

ul.footer__treatment-list>li {
    border: none !important;
    padding-bottom: 0 !important;
}

ul.footer__treatment-list>li>a {
    padding-top: 0 !important;
}

.widget ul li:before {
    top: -3px !important;
}

table.footer_time-slot,
table.footer_contact-table {
    border: none;
}

table.footer_time-slot tr>th,
table.footer_contact-table tr>th {
    background-color: #f8f8f9 !important;
    padding: 0px !important;
    padding-bottom: 8px !important;
    text-align: left !important;
    border: none !important;
    max-width: 50px;
    color: #a8a8a8;
}

table.footer_time-slot tr>td,
table.footer_contact-table tr>td {
    background-color: #f8f8f9 !important;
    padding: 0px !important;
    text-align: left !important;
    border: none !important;
    font-size: large !important;
    color: #666 !important;
    font-weight: 600 !important;
    padding-bottom: 15px !important;
}

table.footer_contact-table tr>td>a:hover {
    text-decoration: none !important;
}

table.footer_contact-table tr>td>a {
    font-weight: 500 !important;
    font-size: 16px !important;
}

table.footer_time-slot tr>td>i {
    padding-right: 5px;
    font-size: large !important;
}

a#footer__social-icon-fb {
    color: #4267B2 !important;
    font-size: 20px !important;
}

a#footer__social-icon-insta {
    color: #b92041 !important;
    font-size: 20px !important;
}

a#footer__social-icon-youtube {
    color: #FF0000 !important;
    font-size: 20px !important;
}

.footer-copyright .menu-links li a:before {
    width: 5px !important;
    height: 5px !important;
    top: 60% !important;
    left: -15px !important;
    border-radius: 50px;
}

/***** End Footer *****/

/* This style is used in index.html(Wound healing specialist) */
@media screen and (min-width: 768px) and (max-width: 2400px) {
    /* div.vc_general.vc_parallax.vc_parallax-content-moving.smrithi-banner-content {
        width: calc(100% + 5%) !important;
        left: -10px !important;
    } */

    div.for-big-screen__left {
        margin-left: 12% !important;
        margin-right: -4% !important;
    }

    div.for-big-screen__right {
        margin-left: -4% !important;
    }
}


/***** Mob-Screen responsive *****/

@media only screen and (max-width: 768px) {

    /* Style for menu/header section */
    div.container-xs {
        width: 100% !important;
    }

    .main-header-wrapper {
        padding: 0 !important;
    }

    .menu-icons-wrapper {
        width: auto !important;
        display: inline-flex;
        align-items: center;
        justify-content: end;
        margin: 0 !important;
        left: unset !important;
        right: 15px !important;
        padding: 0 !important;
    }

    .menu-icons-wrapper .search a span {
        padding-top: 25px !important;
        font-size: 18px !important;
    }

    .is-sticky .menu-icons-wrapper {
        top: 10px !important;
    }

    .is-sticky .menu-icons-wrapper .search a span {
        padding: 0px !important;
        font-size: 16px !important;
    }

    .is-sticky #logo {
        padding: 10px !important;
        height: 60px !important;
        transition: all 0.5s ease !important;
    }

    #logo a {
        height: 60px !important;
    }

    .is-sticky #logo a {
        height: 50px !important;
    }

    .is-sticky #main-menu>ul.menu>li>a {
        line-height: 40px !important;
    }


    /* Style for container width and contents */
    .container.primary-section__wrapper {
        width: calc(100% - 30px) !important;
    }

    .dt-sc-title.with-right-border-decor>*:first-child {
        padding-bottom: 10px !important;
    }

    .dt-sc-title.with-right-border-decor>*:first-child:after {
        width: 80px !important;
        border-radius: 50px !important;
    }


    /* Idex page main title */
    .welcome-title {
        font-size: 24px !important;
        line-height: 1.4;
        margin-bottom: 15px !important;
    }

    div.main-btn-wrapper {
        display: flex;
        /* flex-direction: column; */
        gap: 1rem;
        margin-bottom: 30px !important;
    }

    div.main-btn-wrapper a {
        margin: 0 !important;
        /* padding: 15px; */
        padding: 5px 15px !important;
        line-height: 35px !important;
        font-size: small !important;
        width: max-content !important;
    }

    /*** Home page Slider function style ***/

    /* slider height */
    rs-module#rev_slider_3_1 {
        height: 280px !important;
    }

    /* Slider caption */
    rs-layer#slider-3-slide-7-layer-3,
    rs-layer#slider-3-slide-7-layer-4,
    rs-layer#slider-3-slide-8-layer-3,
    rs-layer#slider-3-slide-8-layer-4 {
        font-size: 10px !important;
    }

    rs-layer#slider-3-slide-9-layer-3,
    rs-layer#slider-3-slide-9-layer-10,
    rs-layer#slider-3-slide-9-layer-12 {
        font-size: 8px !important;
    }

    rs-group-wrap.rs-parallax-wrap {
        top: 160px !important;
    }

    rs-group#slider-3-slide-7-layer-7 {
        display: flex !important;
        flex-direction: column !important;
        gap: 1rem !important;
    }



    /* to remove the space */
    div.ult-spacer.d-none_mob,
    div.d-none_mob {
        display: none !important;
    }

    div.about-dr__wrapper {
        padding: 0px 15px !important;
        background:
            linear-gradient(to bottom,
                rgba(45, 80, 45, 0.85),
                rgba(45, 80, 45, 0.85)),
            url(../img/banner-mob.png);
        background-position: center;
        background-size: 220%;
        /* background-color: rgba(88, 133, 80, 0.6); */
        padding-top: 40px !important;
    }

    div.dr_content-wrapper {
        margin: 0 !important;
    }

    div.about-dr__wrapper p,
    div.about-dr__wrapper h2 {
        color: rgb(228, 228, 228) !important;
    }

    div.dr_desc {
        padding: 0px 18px !important;
    }

    div.video-sec__title-wrapper {
        margin-top: 20px;
    }

    div.mob-center-align {
        text-align: center !important;
    }

    div.mob-center-align h4 {
        padding: 0 !important;
    }

    /* Ayurveda evelution and history section*/
    div.padding-mob {
        padding: 0px 15px !important;
    }

    /* medicine image in mob screen */
    div.medicine-img_mob {
        display: block !important;
        width: 100%;
        height: auto;
    }

    /* About-Us page */
    div.dt-sc-title>h2.smrithi-doc-name {
        font-size: x-large !important;
    }

    h5#doctor-sign-name {
        text-align: center !important;
        font-size: medium !important;
    }

    div.vc_align_left.doctor-sign-wrapper {
        text-align: center !important;
        width: 50% !important;
        margin: auto !important;
    }

    div.dt-sc-title>h2.specialization-title {
        font-size: 22px !important;
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }

    p#mob-align-center {
        text-align: center !important;
    }

    div.dt-sc-title>h2#why-we-are-best {
        font-size: 28px !important;
    }

    /* treatment page */

    div#one>h3.treatments-title {
        font-size: 1.5em !important;
        margin-top: 10px;
    }

    /* padding-top for main images in treatment page */
    div.padding-in-mob {
        padding-top: 270px !important;
    }

    /* to arrange the para on top */
    div.wound-content__wrapper>p.para-top-mob {
        position: absolute !important;
        top: 60px !important;
    }

    div.treatment-effect-title__wrapper {
        margin-bottom: 10px;
    }

    div#one>h3.treatment-effect-title {
        font-size: 1em;
    }


    /* Treatment row */
    div.treatment-row {
        flex-direction: column !important;
    }

    div.left-side__nav-wrapper {
        /* background-color: white;
        padding: 10px;
        padding-top: 15px;
        top: 115px;
        z-index: 1111; */
        width: 100%;
    }

    ul.left-side__nav-ul {
        display: flex;
        list-style: none !important;
        margin-bottom: 0;
        gap: 1rem;
        width: 100%;
    }

    ul.left-side__nav-ul>li {
        text-align: center !important;
        padding-bottom: 0;
        line-height: normal;
        width: 33.333% !important;
    }

    ul.left-side__nav-ul>li>a {
        font-size: 10px;
        line-height: normal;
    }

    ul.left-side__nav-ul>li ul.left-nested__nav-ul {
        display: none;
    }

    ul.left-side__nav-ul>li div.treatment-nav__img-wrapper {
        display: block !important;
        width: 100%;
        height: 70px;
        border-radius: 5px;
        overflow: hidden !important;
        object-fit: cover;
    }

    ul.left-side__nav-ul>li div.treatment-nav__img-wrapper img {
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    a.button-123>rs-mask-wrap {
        transform: translateX(-25px) !important;
    }

    /* for buttons in sliders */
    rs-layer#slider-3-slide-7-layer-5,
    rs-layer#slider-3-slide-7-layer-6,
    rs-layer#slider-3-slide-8-layer-5,
    rs-layer#slider-3-slide-9-layer-5,
    rs-layer#slider-3-slide-9-layer-6 {
        padding: 8px 15px !important;
        font-size: 8px !important;
    }

    rs-layer#slider-3-slide-8-layer-5 {
        font-size: 10px !important;
    }

    rs-layer#slider-3-slide-7-layer-5,
    rs-layer#slider-3-slide-7-layer-6 {
        font-size: small !important;
        min-height: 30px !important;
        line-height: 22px !important;
    }

    rs-layer#slider-3-slide-7-layer-2 {
        font-size: large !important;
    }

    .slider-1 rs-mask-wrap {
        transform: translateX(-25px) !important;
    }

    .slider-1 rs-bg {
        background-size: 129% auto !important;
        background-position: 20% 100% !important;
    }

    /* used to add a blury background for first slider caption and button */

    @keyframes OpacityAnim {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .slider-1 .backdrop-filter::before {
        content: ' ';
        position: absolute !important;
        width: 100%;
        height: 7.5rem !important;
        bottom: 0px !important;
        left: 0px !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
        backdrop-filter: blur(1.5px) !important;
        animation: OpacityAnim 7s;
    }

    /* first slider caption */
    rs-layer#slider-3-slide-7-layer-3,
    rs-layer#slider-3-slide-7-layer-4 {
        padding: 15px !important;
        transform: translate(-45px, 15px) !important;
        font-size: 0.9em !important;
        font-weight: 600 !important;
    }

    rs-layer#slider-3-slide-7-layer-3 {
        margin-top: 8px !important;
    }

    rs-layer#slider-3-slide-7-layer-4 {
        margin-top: 20px !important;
    }

    a.button-slider-1 rs-mask-wrap {
        transform: translate(-85px, 70px) !important;
    }

    a.button-slider-2 rs-mask-wrap {
        transform: translate(10px, 69px) !important;
    }

    rs-layer#slider-3-slide-9-layer-5 {
        transform: translateX(-15px) !important;
    }

    rs-layer#slider-3-slide-9-layer-6 {
        transform: translateX(15px) !important;
    }

    rs-layer#slider-3-slide-9-layer-10 {
        width: 100px !important;
        transform: translateX(25px) !important;
    }

    rs-layer#slider-3-slide-9-layer-11 {
        transform: translateX(-10px) !important;
    }

    rs-layer#slider-3-slide-9-layer-12 {
        transform: translateX(80px) !important;
        width: 200px !important;
    }
}

/***** End Mob-Screen responsive *****/